.light-blue {
    background-color: #DDF2FD;
}

.calm-blue {
    background-color: #9BBEC8;
}

.blue {
    background-color: #427D9D;
}

.dark-blue {
    background-color: #164863;
}

h1, h2, h3, h4, h5 {
    font-family: 'DM Serif Text', serif;
    letter-spacing: 0.1rem;
}

span.span-hero {
    font-weight: bold;
}

p {
    font-family: 'Noto Serif Display', serif;
}

.container {
    background-color: white;
}

.first-skill, .second-skill, .white {
    background-color: white;
}

.sauder {
    object-fit: contain;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.web-icon {
    object-fit: contain;
    width: 40%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.first-skill {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

@media(min-width: 992px){
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }   
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
